//= require_self
//= require_tree .

@import './mixins'

*, *:before, *:after {
  box-sizing: border-box
}

body, html {
  margin: 0
  padding: 0
}

span.highlight {
  background-color: #D37979
}

#code-editor {
  height: 600px
}

#snippet-editor {
  height: 200px
}

#convert-result, #match-result, #play-result {
  font-size: 18px;
}
